.bar {
    height: 45px;
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    margin-left: calc(var(--mantine-spacing-md) * -1);
    margin-right: calc(var(--mantine-spacing-md) * -1);
    position: sticky;
    top: 0;
    z-index: 99;
    inset-inline-start: var(--app-shell-navbar-offset, 0rem);
    inset-inline-end: var(--app-shell-aside-offset, 0rem);
    display: flex;
    align-items: center;
}

@media print {
    .bar {
        display: none;
    }
}
